MONGODB_URI = "mongodb://localhost:27017/kokutalk"

FE_BASE_URL = 'http://localhost:3000'


CLOUD_NAME = ""
CLOUD_API_KEY = ""
CLOUD_API_SECRET = ""

TOKEN_EXPIRATION_TIME_LIMIT = 20m
TOKEN_LAST_USED_AT_TIME_LIMIT = 2
OTP_EXPIRE_LIMIT = 3 

TWILIO_ACCOUNT_SID = "";
TWILIO_AUTH_TOKEN = "";
TWILIO_PHONE_NUMBER = "";


SERVER_URL = "http://localhost:5000/api"